.header__square-pic {
    width: 568px;
    height: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 3;
    animation: header__square-pic 20s infinite linear;
    
    
  }
  /*Реализуйте анимацию: поворот с равномерной скоростью по часовой
стрелке. Фигура поворачивается на 360 ̊ за 20 секунд и двигается
бесконечно. Создайте отдельный БЭМ-блок rotation в файловой
структуре. Используйте микс, чтобы запустить анимацию там, где
нужно.*/