.khan__quote {
    /*Высота строки 34px, шрифта 24px, начертание шрифта нормальное*/
    width: 790px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    
    margin: 0 0 36px 0;
}