.header__link {
    color:  #2f80ed;
    text-decoration: none;
    transition: .3s linear;
  }
  .header__link:hover {
    opacity: .3;
   
  }
  /*Все ссылки на странице при наведении мыши должны плавно становиться немного прозрачными,

подберите opacity и transition на свой вкус*/