.two-columns__paragraph {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    
  }
  .two-columns__paragraph:last-child {
    margin-bottom: 0;
  }