@keyframes kaufman__triangle {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes header__square-pic {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
