.kaufman__triangle {
    background-size: 877px 877px;
    background-image: url(../../../images/kaufman-triangle.svg);
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0px;
    right: -210px;
    z-index: 0;
    animation: header__square-pic 20s infinite linear;
  }